<section class="container p-3 my-5">  
    <h1 class="container-fluid bg-black text-white display-6 my-5">
        Experiência Profissional
    </h1>  
    <article class="p-3">        
        <h4>
            Desenvolvedor Angular - Secretaria de Estado de Planejamento e Gestão do Estado do Rio de Janeiro (SEPLAG)
        </h4>
        <p>
            Trabalho desenvolvendo o frontend de sistemas em Angular,<br>
            refatorando sistemas da <strong>SUBLOG</strong> que foram escritos<br>
            em HTML, CSS e JS puros, para um framework mais reativo, moderno e dinâmico.
            
        </p>
    </article>
    <article class="p-3">        
        <h4>
            Suporte Técnico de Informática - Secretaria de Estado de Fazenda do Estado do Rio de Janeiro (SEFAZ)
        </h4>
        <p>
            Suporte técnico <strong>N1 e N2</strong> de informática e micro informática, <br>
            tratamento de chamados, formataçõee, instalações de SO, <br>
            instalação e configuração de programas, criação de pst, <br>
            configuração de VPN e resolução de problemas em geral.
            
        </p>
    </article>
    <article class="p-3">        
        <h4>
            Assistente Administrativo II - Stefanini Brasil
        </h4>
        <p>
            Control desk na <strong>Central de Relacionamentos Bradesco Seguros S/A</strong>.<br>
            controle e monitoramento do nível de serviço e outros indicadores ITIL<br>
            como aderência, absenteísmo, capacity e força de trabalho.<br>
            Prestei também alguns serviçoes de suporte e desenvolvimento VBA.
            
        </p>
    </article>
</section>
