<section class="container p-3 my-5">  
    <h1 class="container-fluid bg-black text-white display-6 my-5">
        Formação
    </h1>  
    <article class="p-3">        
        <h4>
            Tecnólogo em Sistemas para Internet
        </h4>
        <p>
            Faculdades Descomplica, Rio de Janeiro -
            Previsão de término - Dezembro de 2024.            
        </p>
    </article>
    <article class="p-3">        
        <h4>
            Desenvolvedor Java Corporativo
        </h4>
        <p>
            Instituto Infnet, Rio de Janeiro -
            Término - Dezembro de 2016.            
        </p>
    </article>
</section>
